<!DOCTYPE html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Vending Machine</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
<link data-require="bootstrap@3.3.0" data-semver="3.3.0"
	rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<script data-require="jquery@2.0.0" data-semver="2.0.0"
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script data-require="bootstrap@3.3.0" data-semver="3.3.0"
	src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script data-require="angular.js@1.3.3" data-semver="1.3.3"
	src="https://code.angularjs.org/1.3.3/angular.js"></script>
<script data-require="ui-bootstrap@1.3.3" data-semver="1.3.3"
	src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-1.3.3.js"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>
<body ng-controller="vendingMachine">
	<div class="UserMenuContainer">
		<table class="table table-striped" id="myUserMenuContainer">
			<tr>
				<td>
					<h4>
						<span class="glyphicon glyphicon-heart"></span> <strong><span
							th:utext="${userName}"></span>,</strong> Welcome to vending machine!
					</h4>
				</td>
				<td>
					<button title="Logout" name="submit" type="submit" value="logout"
						ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="AmountContainer">
		<table class="table table-striped" id="myAmountContainer">
			<tr>
				<td>
					<h4>Account balance: ${{accountBalance | number : 2}}</h4>
				</td>
				<td>
					<button title="Add Cent to account balance" name="submit"
						type="submit" value="Save" ng-click="addCent()">
						<span>&#162;</span>Cent
					</button>
					<button title="Add Quarter to account balance" name="submit"
						type="submit" value="Cancel" ng-click="addQuarter()">
						<span>&#188;</span>Quarter
					</button>
					<button title="Add Dollar to account balance" name="submit"
						type="submit" value="Save" ng-click="addDollar()">
						<span>&#65284;</span>Dollar
					</button>
				</td>
			</tr>
		</table>
	</div>
	<input type="hidden" id="user" th:value='${user}' />
	<div class="VendingMachineHeaderContainer">
		<table class="table table-striped" id="myVendingMachineHeaderContainer">
			<tr>
				<td>
					<h4>
						<strong>Vending Machine available items to purchase</strong>
					</h4>
				</td>
			</tr>
		</table>
	</div>
	<div class="VendingMachineContainer">
		<!-- the vending machine element -->
		<table class="table" id="vmContainer">
			<!-- Main -->
			<tr>
				<!-- <td width="65%" id="vmMain"></td> -->
				<td style="padding: 0;" width="50%">
					<div class="btn-group btn-group-vertical" style="width: 100%">
						<button title="Push to dispense {{p.name}}"
							ng-repeat="p in prd" 
							ng-hide="$odd"
							class="btn form-control"
							ng-class="{'btn-primary':p.quantity>=10,'btn-warning':p.quantity<10,'btn-danger':p.quantity<5}"
							ng-mouseenter="selected.name=p.name;selected.price=p.price;selected.size=p.size;"
							ng-mouseleave="selected.name=p.name;selected.price=null;selected.size=null;"
							ng-click="select($index)" ng-disabled="!p.quantity">
							<span title="{{p.quantity}} Items in stock"
								class="badge pull-left" ng-bind="p.quantity"></span><strong>{{p.name}}</strong>
							<span title="Push to dispense {{p.name}}" style="float: right" class="glyphicon glyphicon-circle-arrow-down"></span>
						</button>
					</div>
				</td>
				<td style="padding: 0;" width="50%">
					<div class="btn-group btn-group-vertical" style="width: 100%">
						<button title="Push to dispense {{p.name}}"
							style="margin-left: 1px;" 
							ng-repeat="p in prd"
							ng-hide="$even" class="btn form-control"
							ng-class="{'btn-primary':p.quantity>=10,'btn-warning':p.quantity<10,'btn-danger':p.quantity<5}"
							ng-mouseenter="selected.name=p.name;selected.price=p.price;selected.size=p.size;"
							ng-mouseleave="selected.name=p.name;selected.price=null;selected.size=null;"
							ng-click="select($index)" ng-disabled="!p.quantity">
							<span title="{{p.quantity}} Items in stock"
								class="badge pull-left" ng-bind="p.quantity"></span><strong>{{p.name}}</strong>
							<span title="Push to dispense {{p.name}}" style="float: right" class="glyphicon glyphicon-circle-arrow-down"></span>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td height="50" colspan="2"
					style="padding-left: 0; padding-right: 0;">
					<div class="vm-display alert alert-warning"
						ng-show="selected.price">
						Item Name: <strong><span>{{selected.name}}</span></strong>, 
						Item price: <strong><span class="glyphicon glyphicon-usd"></span>{{selected.price}}</strong>,
						Item size: <strong><span>{{selected.size}}</span><strong>
					</div>
					<div class="vm-display alert alert-success"
						ng-show="selected.dispensing">
						<span class="glyphicon glyphicon-refresh"></span> <strong>Dispensing...</strong> {{selected.name}}
					</div>
					<div class="vm-display alert alert-danger"
						ng-show="selected.nofunds">
						<span class="glyphicon glyphicon-alert"></span> <i>Insufficent
							amount, please add amount to account!</i>
					</div>
				</td>
			</tr>
			<tr ng-show="bottomEnabled" id="vmBottom">
				<td height="50" colspan="2">
					<button class="btn btn-default form-control" type="button"
						ng-click="onPushDoor()">
						<strong>{{pushDoorTxt}}</strong>
					</button>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>