<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Title</title>
<style type="text/css">
.ProductSalesContainer {
	position: absolute;
    left: 30%;
    top: 10%
}
</style>
</head>
<body>
	<div class="ProductSalesContainer">
		<h2>Product Sales</h2>
		<table border="1">
			<tr>
				<th>Product Id</th>
				<th>Product Name</th>
				<th>Product Quantity</th>
				<th>Product Purchase Date</th>
			</tr>
			<tr th:each="product : ${productSales}">
				<td th:text="${product.productId}"></td>
				<td th:text="${product.productName}"></td>
				<td th:text="${product.productQuantity}"></td>
				<td th:text="${product.purchaseDate}"></td>
			</tr>
		</table>
	</div>
</body>
</html>