<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Title</title>
<style type="text/css">
.UserContainer {
	position: absolute;
    left: 30%;
    top: 10%
}
</style>
</head>
<body>
	<div class="UserContainer">
		<h2>Users</h2>
		<table border="1">
			<tr>
				<th>User Id</th>
				<th>User Name</th>
				<th>User Email</th>
				<th>User Account Balance</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.accountBalance}"></td>
			</tr>
		</table>
	</div>
</body>
</html>